// ------------------------------------------------------------------
// Clean
// ------------------------------------------------------------------
// 1. Text ............. Positioning and font properties
// 2. Link ............. Color and underline adjustments
// ------------------------------------------------------------------

.clean {

  // Text

  position:absolute;
  top:50%;
  left:0;
  z-index:1;
  padding-left:96px;
  padding-right:96px;
  width:100%;
  color:black;
  line-height:1.1;
  font-size:60px;
  transform:translateY(-50%);
  text-align:center;

  // Link

  a {
    @include underline(currentColor, 0.06);
    color:inherit;
    }

  }
